<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\GitHub\Cocos2dx_Lua\DarkSlash_Lua\simulator\win32\DarkSlash.exe</StartProgram>
    <StartArguments>-workdir E:\GitHub\Cocos2dx_Lua\DarkSlash_Lua</StartArguments>
    <StartWorkingDirectory>E:\GitHub\Cocos2dx_Lua\DarkSlash_Lua\simulator\win32</StartWorkingDirectory>
  </propertyGroup>
</Project>